.seller-auth {
  width: 30%;
  margin: 12px 400px 50px;
  margin-top: 50px;
  padding: 12px;
  border: 2px solid antiquewhite;
  background-color: azure;
}
.auth-toggle-link {
  margin-top: 20px;
  color: blue;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}
p {
  color: red;
}
